@model NursingStaffPlanningandSchedulingExcellence.Models.UserVM
@{
    ViewBag.Title = "AllStaffList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sno = 0;
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row m-t-20">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success" style="float: right;" role="alert">
                    <b>@TempData["Message"]</b>
                </div>
            }
            @if (TempData["DeleteMessage"] != null)
            {
                <div class="alert alert-danger" style="float: right;" role="alert">
                    <b>@TempData["DeleteMessage"]</b>
                </div>
            }
            <div class="panel panel-info">
                <div class="panel-heading "> Staff Finder </div>
                <div class="white-box">
                    <div class="table-responsive">
                        <div class="col-sm-2">
                            <button onclick="window.location.href='AddStaff'" class="btn btn-block btn-info">Add Staff</button>
                        </div>
                        <table id="example" class="table  table-hover contact-list footable-loaded footable m-t-0" data-page-size="4">
                            <thead>
                                <tr>
                                    <th class="footable-sortable text-center">S.No<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable text-center">User Name<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable text-center">Cell Phone<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable text-center">Date Of Birth<span class="footable-sort-indicator"></span></th>
                                    <th class="footable-sortable text-center">Action<span class="footable-sort-indicator"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.userList != null)
                                {
                                    foreach (var item in Model.userList)
                                    {
                                        sno = sno + 1;
                                        <tr role="row" class="line-content">
                                            <td class="text-center">@sno</td>
                                            <td class="text-center">
                                                <a href="~/Admin/StaffDetails/@item.UserId" class="fcbtn btn btn-info btn-outline btn-1f">@item.LastName, @item.FirstName</a>
                                            </td>
                                            <td class="text-center">@item.CellPhone</td>
                                            <td class="text-center">@(item.DOB != null ? string.Format("{0:MMMM d , yyyy}", item.DOB) : "")</td>
                                            <td class="text-center">
                                                <span class="delete"><a href="~/Admin/AddStaff/@item.UserId" class="fcbtn btn btn-info btn-outline btn-1f">Edit</a></span>
                                                <span class="delete"><a href="~/Admin/DeleteStaff/@item.UserId" onclick="return confirm('Are you sure you wish to Delete Staff ?');" class="fcbtn btn btn-danger btn-outline btn-1f">Delete</a></span>
                                                <span class="delete"><a href="~/Admin/ShiftSchedule/?userid=@item.UserId" class="fcbtn btn btn-info btn-outline btn-1f">Add/Update Schedule</a></span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({ "pageLength": 10 });
        });
    </script>
}

